<!DOCTYPE html>

<html lang="en">
<title>Data Collector App</title>
<head>
  <link href="../static/main.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <h1>Survey for Body Mass Index (BMI) Statistics Across General Population</h1>
    <h3>Please fill in the entries.</h3>
    <div class="message">
      {{text | safe}}
    </div>
    <form action="{{url_for('success')}}" method="POST">
      <label>Enter your email address</label>
      <input title="Information and data entered is secure." type="email" name="email_name" required> <br>
      <label>Enter your weight in kilograms</label>
      <input title="Information and data entered is secure." type="number" min="20" max="300" step="0.01" name="weight_num" required> <br>
      <label>Enter your height in meters</label>
      <input title="Information and data entered is secure." type="number" min="0.3" max="3" step="0.01" name="height_num" required> <br>
      <button type="submit">Submit</button>
    </form>
   </div>
</body>
</html>
